import("R.matlab", "rpart", "chemometrics", "graphics", "matlab", "Matrix", "VPdtw")
exportPattern("autoscale", "corn", "CTVPdtw", "KennardStone", "meancenter", "plscv", "plspredtest", "pretreat", "RMSEP", "savgol", "snv", "wheat")


